<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Consultas</title>
</head>
<body>
    <h1>Relatório de Consultas</h1>
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Data e Hora</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.id }}</td>
                <td>{{ consulta.medico.nome }}</td>
                <td>{{ consulta.paciente.nome }}</td>
                <td>{{ consulta.data_horario }}</td>
                <td>{{ consulta.descricao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>